@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body.maximized {
    border: none !important;
}

.float-right {
    float: right;
}