@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body.maximized {
    border: none !important;
}

.float-right {
    float: right;
}

#TESTING {
    position: fixed;
    top: -100px;
    right: -100px;
    width: 200px;
    height: 200px;
    background: green;
    transition: all 0.3s;
}

#TESTING.shown {
    top: 100px;
    right: 100px;
}